DISGENET_API_KEY=<disgenet_api_key_under_account>
NCBI_EUTILS_API_KEY='<ncbi_eutils_api_key_under_account>'
DC_USER='<psql_user_for_drugcentral>'
DC_PASSWORD='<psql_password_for_drugcentral>'
DRUGCENTRAL_PG_USER='<psql_user_for_drugcentral_pg>'
DRUGBANK_USERNAME='<drugbank_username>'
DRUGBANK_PASSWORD='<drugbank_password>'
MYSQL_USERNAME='<mysql_username>'
MYSQL_DB_NAME='aopdb'
MYSQL_PASSWORD='<mysql_password>'